<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logix Web Watch</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
</head>

<body>
    <div class="title-box">
        <h1>Logix Web Watch</h1>
    </div>
    <div class="controls-box">
        <div class="form-group">
            <div class="btn-group-vertical gap-1 d-flex">
                <button id="connectButton" type="button" class="btn btn-primary">Connect</button>
                <button id="startButton" type="button" class="btn btn-success" disabled>Start</button>
                <button id="stopButton" type="button" class="btn btn-warning" disabled>Stop</button>
                <button id="resetButton" type="button" class="btn btn-danger" disabled>Reset</button>
            </div>
        </div>
        <div class="form-group">
            <label for="ipAddress">IP Address:</label>
            <input type="text" class="form-control" id="ipAddress" placeholder="Enter IP Address"
                value="192.168.123.100">
            <label for="plcSlot">PLC Slot:</label>
            <input type="text" class="form-control" id="plcSlot" placeholder="Enter PLC Slot" value="2">
        </div>
        <div class="form-group">
            <span>Refresh Rate:</span>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="updateRate" id="slow" value="Slow" checked>
                <label class="form-check-label" for="slow">Slow</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="updateRate" id="medium" value="Medium">
                <label class="form-check-label" for="medium">Medium</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="updateRate" id="fast" value="Fast">
                <label class="form-check-label" for="fast">Fast</label>
            </div>
        </div>
    </div>
    <div>
        <p class="text-primary" id="statusBar"></p>
    </div>
    <hr>
    <div class="plc-tags-box">
        <div class="table-container">
            <table class="tags-table">
                <thead>
                    <tr>
                        <th>Tag Name</th>
                        <th>Value</th>
                        <th>Data Type</th>
                    </tr>
                </thead>
                <tbody id="tagTableBody">
                    <tr>
                        <td><input type="text" class="form-control" name="tagName" list="baseTagList"></td>
                        <td><input type="text" class="form-control" name="tagValue" readonly disabled></td>
                        <td><input type="text" class="form-control" name="tagDataType" readonly disabled></td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary" id="addTagButton">Add Tag</button>
            <button class="btn btn-primary" id="removeTagButton" disabled>Remove Last Row</button>
        </div>
    </div>
    <script src="../static/socket.io.min.js"></script>
    <script src="../static/script.js"></script>
    <script src="../static/bootstrap.bundle.min.js"></script>
    <datalist id="baseTagList"></datalist>
</body>

</html>